* {
  margin: 0;
  padding: 0;
}

.overlay {
  background-image: url(./lib/grass.jpg);
  opacity: 0.9;
  /* position: fixed; */
  width: 100%;
  height: 100%;
  /* z-index: 1000; */
}

.head {
  height: 175px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.float {
  background-color: #ebebeb;
  opacity: 0.8;
  /* margin-top: 175px; */
  width: 100%;
  height: 10000px;
  border-top: 3px solid aliceblue;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}

.fetching,
.notFetching {
  height: 20px;
}

.form {
  display: flex;
  margin-bottom: 20px;
}

.lists {
  display: flex;
  justify-content: flex-start;
}

.listContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 50%;
  margin-right: 10px;
  margin-bottom: 10px;
}

.veggieList {
  display: flex;
  flex-flow: row wrap;
  align-items: space-evenly;
}

.listHead {
  font-family: "Roboto";
}

.veggie {
  display: flex;
  align-items: center;
  width: 200px;
  height: 40px;
  margin: 0px 5px 0px 0px;
  border-radius: 5px;
}

.v {
  display: flex;
  align-items: flex-end;
  height: 20px;
}

.recipeList {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.recipe {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 300px;
  height: 300px;
  border: 1px solid black;
  background-color: #e6e6e6;
  border-radius: 10px;
  margin: 5px;
}

.recipeLabel {
  font-family: "Roboto";
}

.recipeImage {
  width: 200px;
  height: 200px;
  border-radius: 2px;
}
