body {
  /* background: linear-gradient(to right, #bbd2c5, #536976); */
  /* background-color: #bbd2c5; */
  background-color: aliceblue;
  /* background-color: #f4fdf6; */
  /* background: linear-gradient(
    to left,
    aliceblue,
    aliceblue,
    aliceblue,
    lightgoldenrodyellow
  ); */
}

#app {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}

.fetching,
.notFetching {
  height: 20px;
}

.form {
  display: flex;
  margin-bottom: 20px;
}

.lists {
  display: flex;
  justify-content: flex-start;
}

.listContainer {
  display: flex;
  flex-direction: column;
  max-width: 50%;
  margin-right: 10px;
}

.veggieList {
  display: flex;
  flex-flow: row wrap;
  align-items: space-evenly;
}

.listHead {
  display: block;
}

.veggie {
  display: flex;
  width: 175px;
  margin: 0px 20px 5px 0px;
  border-radius: 5px;
}

.x,
.o {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
  height: 20px;
  width: 20px;
  background-color: #e6e6e6;
  border: 1px solid gray;
  border-radius: 5px;
}

.x {
  color: maroon;
  margin-right: 5px;
}

.o {
  color: green;
}

.v {
  display: flex;
  align-items: flex-end;
  height: 20px;
}
