.fetching,
.notFetching {
  height: 20px;
}

.form {
  display: flex;
  margin-bottom: 20px;
}

.veggieList {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: space-evenly;
  height: 300px;
  width: 200px;
}

.veggie {
  display: flex;
  width: 150px;
  margin: 0px 20px 5px 0px;
  border-radius: 5px;
}

.x {
  display: flex;
  justify-content: center;
  align-items: center;
  color: maroon;
  font-weight: bold;
  cursor: pointer;
  height: 20px;
  width: 20px;
  background-color: #e6e6e6;
  border: 1px solid gray;
  border-radius: 5px;
  margin-right: 5px;
}

.v {
  display: flex;
  align-items: flex-end;
  height: 20px;
}
